		
html{
		
		/*background-image: url("../images/14.JPG");*/
		background-repeat: no-repeat;
		background-size: 100%;
		font-family: Lucida Sans, sans-serif;
		   }

		   .footer {
	padding-top: 100%
	
}